nav{
    width: 100%;  
    // position: fixed;
    position: absolute;
    z-index: 1000;
    transition: .3s;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid transparent;

    &.detached{
        background: white;
        box-shadow: 0 5px 20px rgba(0,0,0,.05);
        visibility: visible;
        opacity: 1;
        svg { 
            fill: $light-blue;
            &:hover {
                fill: $navy;
            } 
        }
        .divider {
            border-color: rgba(15, 15, 111, .3);
        }
    }
   
    &.retracted{
        transform: translateY(-100%);
        box-shadow: none;
    }

    svg {
        cursor: pointer;
        transition: .2s;
        height: 30px;
        width: auto;
        margin-right: 20px;
        fill: $light-blue-shadow;
        animation-name: bounce-in;
        animation-duration: .8s;
        animation-fill-mode: both;
        &:hover { 
            fill: white;
            // transform: scale(1.15);
        }
    }

    @for $i from 1 through 6 {
        svg:nth-child(#{$i}){
            animation-delay: #{($i - 1)*.08}s;
        }
    }

    .divider{
        height: 32px;
        width: 1px;
        margin-right: 20px;
        border-left: 1px solid $light-blue-shadow;
    }

}

@keyframes bounce-in {
    0% { transform: scale(0) }
    20% { transform: scale(1.4) }
    40% { transform: scale(.8) }
    60% { transform: scale(1.1) }
    80% { transform: scale(.95) }
}