html,body{
    margin: 0;
    height: 0;
}

// #layer-3{
//     position: relative;
// }

.content{
    height: 200vh;
    width: 100%;
}

#skyline{
    overflow: hidden;
    background: $light-blue;
}


// [id*="layer-"]{
//     // filter: url("#hello");
//     fill: white;
// }

@for $i from 0 through 4 {
    .layer-#{($i + 1)}{
        fill: scale-color($color: $light-blue, $lightness: 100 - $i * 15%  );
    }
}

#cloud-container {
    width: 100%;
    align-self: flex-start;
    display: flex;
    position: absolute;
    flex-shrink: 0;
    svg {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        display: block;
    }
}


