html,body{
    margin: 0;
    height: 0;
}

.content{
    height: 200vh;
    width: 100%;
}

#skyline{
    overflow: hidden;
    background: $light-blue;
}

@for $i from 0 through 4 {
    //city
    .layer-#{($i + 1)}{
        fill: scale-color($color: $light-blue, $lightness: 40% - $i * 18% );
    }
    //clouds
    .cloud-#{($i + 6)}{
        fill: scale-color($color: $light-blue, $lightness: 100% - ($i) * 15%  );
    }
}

#cloud-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-self: flex-start;
    flex-shrink: 0;
    z-index: 0;
    svg {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        display: block;
    }
}


.sail{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 4;
    svg {
        height: auto;
        width: 100%;
        fill: white;
        bottom: 0;
        position: absolute;
    }
}