$light-blue: #7ec2ff;
$light-blue-shadow: #5da7e4;
$navy: rgb(29, 35, 77);
$gray: rgb(83, 88, 119);
$light-gray: #d5d7e2;

*{
	box-sizing: border-box;
}



html, body {
	height: 100%; 
	padding: 0;
	margin: 0;
}

body{
	background: white;
}

.full-width {
	width: 100%;
	max-width: 1100px;
}

@import "./parallax";
@import "./marquee";
@import "./navbar";
@import "./feature";
