$light-blue: #7ec2ff;
$light-blue-shadow: #5da7e4;
$navy: rgb(29, 35, 77);
$gray: rgb(83, 88, 119);
$light-gray: #d5d7e2;

* {
	box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



html, body {
	height: 100%; 
	padding: 0;
	margin: 0;
}

body{
	background: white;
}

.full-width {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}


.float {
	animation-name: f;
	animation-duration: 1s;

	animation-iteration-count: infinite;
	animation-direction: alternate;
	position: relative;
	display: inline-block;
	animation-timing-function: ease-in-out;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.zoom {
	animation-name: z;
	animation-duration: 1s;

	position: relative;
	display: inline-block;
	animation-timing-function: ease-in-out;
}

.zoom-out {
	animation-name: nz;
	animation-duration: 1s;

	position: relative;
	display: inline-block;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@keyframes f {
	0% {
		transform: translateY(-5%)rotate(-2deg);
	} 
	100% {
		transform: translateY(5%)rotate(2deg);
	}
}


@keyframes z {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	} 
	50% {
		transform: translateY(5%);
	}
	75% {
		transform: translateY(-1%);
	}
}

@keyframes nz {
	0% {
		transform: translateY(1%);
	} 
	50% {
		transform: translateY(-5%);
	}
	75% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(100%);
		visibility: hidden;
	}
}

.hidden {
	display: none;
}

#loading {
	color: scale-color($light-blue, $lightness: -35%);
}

video {
	width: 400px;
}

@import "./parallax";
@import "./marquee";
@import "./navbar";
@import "./carousel";
@import "./feature";
